<html>
<head>
    <meta charset="UTF-8">


    <!--<script type="text/javascript" src="../common/js/jquery-1.9.0-min.js"></script>
    <script type="text/javascript" src="../common/js/jquery-ui-1.9.2-min.js"></script>
    <script type="text/javascript" src="../common/js/jquery.jsPlumb-1.4.1-all-min.js"></script>
    <script type="text/javascript" src="../common/js/angular.js"></script>
    <script type="text/javascript" src="../common/js/ui-bootstrap-tpls-0.14.3.js"></script>
    <script type="text/javascript" src="js/fireController.js"></script>
    <script type="text/javascript" src="js/fireService.js"></script>
    <script src="../common/js/bootstrap.js"></script>-->
    <!--JS Library-->

    <script src="../Scripts/library/jquery-1.9.0-min.js"></script>
    <script src="../Scripts/library/jquery-ui-1.9.2-min.js"></script>
    <script src="../Scripts/library/jquery.jsPlumb-1.4.1-all-min.js"></script>
    <script src="../Scripts/library/angular.js"></script>
    <!--<script src="../Scripts/library/jsPlumb-2.0.4.js"></script>-->
    <script src="../Scripts/library/ui-bootstrap-tpls-0.14.3.js"></script>
    <!-- js files -->
    <script src="../Scripts/app/Workflow/fireApp.js"></script>
    <script src="../Scripts/app/Workflow/fireController.js"></script>
    <script src="../Scripts/app/Workflow/fireService.js"></script>
    <!-- CSS Files -->
    <link href="../Content/css/common.css" rel="stylesheet" />
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/css/bootstrap.css" rel="stylesheet" />
    <title>Fire</title>
</head>

<body ng-app="FireApp">
    <div ng-controller="FireController">
        <!--/*/ <th:block th:include="fragments/headermenu :: header"></th:block> /*/-->

        <div id="container" class="drop-container" ng-click="addEvent($event)" droppable>
            <div id="menu-container">
                <div align="center">
                    <label>WorkFlow Name: </label>
                    <input id="workflowname" ng-model="workflowname" type="text" maxlength="128" />
                </div>
                <div plumb-menu-item class="menu-item" ng-repeat="node in library" ng-style="{ 'left':node.x, 'top':node.y }"
                     data-identifier="{{node.library_id}}" draggable>
                    <div class="summary">{{node.id}}</div>
                </div>
            </div>

            <div id="{{node.module_id}}" plumb-item class="item" ng-repeat="node in module" ng-style="{ 'left':node.x, 'top':node.y }"
                 data-identifier="{{node.module_id}}">
                <div class="title">{{node.id}}</div>
                <div plumb-connect class="connect"></div>
            </div>
        </div>
        <p>
            <button type="button" class="btn btn-primary" ng-click="redraw()">Clear</button>
            <button type="button" class="btn btn-primary" ng-click="saveWorkflow()">Save</button>
        </p>

        <!--  does not render what comes behind it, so it's probably wrong -->
        <div post-render></div>

        <span ng-init="init()"></span>
    </div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{modelNode.name}}</h3>
        </div>
        <div class="modal-body">
            <div ng-repeat="field in modelNode.fields">
                <div class="row form-group" ng-if="field.widget == 'textfield'">
                    <label class="col-sm-4 control-label">{{field.title}}</label>
                    <div class="col-sm-6">
                        <input id="{{field.name}}" name="{{field.name}}" ng-model="field.value" type="text" class="form-control" maxlength="12" />
                    </div>
                </div>
                <div class="row form-group" ng-if="field.widget == 'dataset'">
                    <label class="col-sm-4 control-label">{{field.title}}</label>
                    <div class="col-sm-6">
                        <select class="multiselect" ng-model="selectedPredictorVariables">
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                          <!--  <option ng-repeat="predVariable in field.value" value="predVariable">{{predVariable}}</option>-->
                        </select>
                    </div>
                </div>
                <div class="row form-group" ng-if="field.widget == 'variables'">
                    <label class="col-sm-4 control-label">{{field.title}}</label>
                    <div class="col-sm-6">
                        <select multiple class="multiselect" ng-model="field.selectedValues">
                          <option ng-repeat="predVariable in field.value" value={{predVariable}}>{{predVariable}}</option>
                        </select>
                    </div>
                    {{selectedPredictorVariables}}
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</body>
</html>